{% extends "base.html" %}
{% block content %}
	
	{% if like_own_error %}
		{{ "You can't like your own post, egomaniac!" }}
	{% endif %}
	{% if like_twice_error %}
		{{ "You can't like the same post twice!" }}
	{% endif %}	
	{% for post in posts %}
		<div class="whole-post">
			{{ post.render() | safe }}
			<form class="like-form" method="post">
				<button class="likes" type="submit" name="like" value="{{ post.key().id() }}">Like this post</button>
			</form>
			<form class="like-form" method="get">
				<button class="likes" type="submit" name="likers" value="{{ post.key().id() }}">Likes: {{ post.likes|length }}</button>
			</form>

			<a href="/blog/{{post.key().id()}}"><button class="nav nav-right">Go to post</button></a>
		</div>
	{% endfor %}
	
{% endblock %}